<?xml version="1.0" encoding="UTF-8" ?>
<widget id="com.iegoart.lcs" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
	<name>光碼掃描</name>
	<description>將Light Code光碼技術與商業、展演結合，運用光碼掃描App，把資訊導入行動裝置，亦透過互動，呈現不同於傳統的展演及商業模式。智慧商業、智慧導覽、智慧住宅、智慧城市，光碼技術皆可涵蓋其中，發展出無限可能。</description>
	<author href="http://www.iegoart.com/" email="maplelin0919@gmail.com">playone</author>

	<icon src="www/icon-256.png" width="256" height="256" density="xxxhdpi" />
	<icon src="www/icon-128.png" width="128" height="128" density="xhdpi" />

	<preference name="android-targetSdkVersion" value="26" />

	<preference name="orientation" value="portrait" />
	<preference name="fullscreen" value="true" />
	<preference name="DisallowOverscroll" value="true" />
	<preference name="AllowInlineMediaPlayback" value="true" />

	<config-file parent="UIStatusBarHidden" platform="ios" target="*-Info.plist"><true/></config-file>
	<config-file parent="UIViewControllerBasedStatusBarAppearance" platform="ios" target="*-Info.plist"><false/></config-file>


	<preference name="deployment-target" value="9.0" />
	<preference name="android-minSdkVersion" value="21" />
	<access origin="*" />

	<plugin name="cordova-custom-config" />
	<plugin name="cordova-plugin-camera" />
	<plugin name="cordova-plugin-file" />
	<plugin name="cordova-plugin-inappbrowser" />
	<plugin name="cordova-plugin-statusbar" />
	<plugin name="cordova-plugin-whitelist" />
	<plugin name="cordova-plugin-wkwebview-engine" />


	<engine name="ios" />
	<engine name="android" />
</widget>